/* html 글자 크기를 따로 지정해주지 않으면, 기본적으로 16픽셀로 글자크기가 지정됨. */
html {
    font-size: 10px;
}

/* p 태그에 접근해서 글자 크기를 30픽셀로 함. */
p{
    font-size: 30px;
    /* RGB 설정 가능함 */
    color:rgb(rgb(192, 82, 82), rgb(214, 245, 214), rgb(231, 231, 245));
}

/* rems class에 접근, rem은 html의 폰트 사이즈 단위를 추종함. 현재 상태에서 1rem=10px, 2rem=20px*/
.rems {
    font-size: 1rem;
    /* RGBA 설정 가능함. 0은 완전 투명한 상태. */
    color:rgba(rgb(251, 171, 171), rgb(192, 231, 192), rgb(139, 139, 240), 60);
}

/* ems li에 접근 => 부모의 1.2배니까, 10px * 1.2 = 12px로 설정됨.*/
/* 문제점 : ems 클래스 내부에 li 태그가 중첩으로 있어서, 계속 1.2배를 함. 
   ex)12 * 1.2 , 12*1.2*1.2 ... 따라서 계산이 까다로워짐. */
.ems li {
    font-size: 1.2em;
}