/* p태그에 접근하여 폰트 설정, 웹폰트는 "눈누" 사이트에서 다양하게 다운 가능. */

/* web font import  */
@font-face {
    font-family: 'PuradakGentleGothicR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.1/PuradakGentleGothicR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

p {
    font-family: "PuradakGentleGothicR", cursive;
    /* font 굵기 */
    font-weight: 900;
    /* 글자의 수평정렬방식 설정 left, right, center*/
    text-align: center;
}



